.example-container {
  width: 500px;
  display: inline-block;
}

.flex-search-box {
  border: solid black 1px;
  width: 100%;
  display: inline-flex;
  overflow: hidden;
  height: 1.5em;
}

.flex-tags, input {
  display: inline-block;
  height: 2.5em;
}

.flex-tags {
  flex-shrink: 2;
  max-width: 66%;
  white-space: nowrap;
  overflow-x: auto;
}

.tag {
    display: inline-block;
    margin: 4px;
    padding-left: .3em;
    padding-right: .3em;
    border: 1px solid blue;
    background-color: lightblue;
}

.tag span {
  cursor: pointer;
}

form {
  flex-grow: 1;
}

form input {
  width: 100%;
  line-height: 2em;
  border: none;
  padding-left: .5em;
}

